{% load static %}

<html>
  <head>
    <style> 
      body {
        background:#EEE;
      }
      @media print {
        body {
          background: #FFF;
        }
        #header {
          visibility: hidden;
        }
        #footer {
          visibility: hidden;
        }
      } 
      {% block extrastyles %}{% endblock %}
    </style>  
  </head>
  <body>
    <div id="header" style="display:block;position:relative;width:90%;border-bottom:1px solid #CCC;margin:0 auto;">
      <img src="{{ REDPINE_STATIC_FILES }}/mail/logo.png" style="display:block;position:relative;width:150px;margin:0 auto;"/>
    </div>
    <div id="ih" style="display:block;position:relative;width:90%;padding:30px 0;margin:0 auto;">
      <div id="bodied" style="text-align:center;padding:0 0 20px 0;">
        <div id="heading" style="display:inline-block;position:relative;width:100%;color:#292929;font-size:24px;font-weight:bold;margin:0 auto;text-align:center;">
          {% block title %}{% endblock %}
        </div>
        <div id="subheading" style="display:inline-block;position:relative;width:100%;color:#696969;font-size:16px;margin:0 auto;text-align:center;">
          {% block subtitle %}{% endblock %}
        </div>
      </div>
      <div id="message" style="display:block;position:relative;width:90%;height:auto;padding:10px 15px 30px 15px;font-size:13px;text-align:center;margin:0 auto;color:#292929;">
        {% block message %}{% endblock %}
      </div>
    </div>
    <div id="footer" style="display:block;position:relative;width:90%;margin:0 auto;text-align:center;border-top:1px solid #CCC;padding:20px 0;">
      <div id="message" style="display:block;position:relative;width:auto;height:auto;padding:10px 15px;font-size:13px;margin:0 auto;color:#292929;text-align:center;">
        If you run into any trouble at all, get in touch with us through our social accounts!
      </div>
      <a href="{{REDPINE_INSTAGRAM_URL}}" target="_blank" style="text-decoration:none;color:#FFF;">
        <img src="{{ REDPINE_STATIC_FILES }}/mail/instagram@2x.png" style="display:inline-block;position:relative;width:48px;height:48px;margin-right:10px;"/>
      </a>
      <a href="{{REDPINE_FACEBOOK_URL}}" target="_blank" style="text-decoration:none;color:#FFF;">
        <img src="{{ REDPINE_STATIC_FILES }}/mail/facebook.png" style="display:inline-block;position:relative;width:48px;height:48px;margin-right:10px;"/>
      </a>
      <a href="{{REDPINE_TWITTER_URL}}" target="_blank" style="text-decoration:none;color:#FFF;">
        <img src="{{ REDPINE_STATIC_FILES }}/mail/twitter.png" style="display:inline-block;position:relative;width:48px;height:48px;margin-right:10px;"/>
      </a>
      <div id="withLove" style="display:block;position:relative;padding:25px 0 50px 0;color:#696969;width:auto;font-size:13px;text-align:center;">
        Sent with <img src="{{ REDPINE_STATIC_FILES }}/mail/love.png" style="display:inline-block;position:relative;width:15px;height:15px;"/> from Red<span style="color:rgb(255,19,18);">Pine</span>
        <br/>
        <a href="https://{{REDPINE_DOMAIN_NAME}}" target="_blank" style="text-decoration:none;color:#FFF;"><span style="color:rgb(255,19,18) !important;">{{REDPINE_DOMAIN_NAME}}</span></a>
      </div>
      <div style="font-size:11px;">
        To stop recieving any automated emails, please reply "unsubscribe" to unsubscribe@redpinemusic.com
      </div>
    </div>
  </body>
</html>
