
<div style="display:block;position:relative;max-width:700px;padding:7.5vmin 2vmin;color:#313131;margin:0 auto;">
	<img src="{{ REDPINE_STATIC_FILES }}/mail/{{ icon }}" style="display:inline-block;width:50px;padding:0.5vmin;"/>
	<div style="display:inline-block;vertical-align:top;padding:0.5vmin;max-width:calc(95% - 1vmin - 50px)">
		<div class="medium_text" style="font-weight:bold;margin-bottom:0.5vmin;text-align:left;">
			{{ title }}
		</div>	
		<div class="medium_text" style="font-weight:200;text-align:left;">
			{{ text }}
		</div>	
	</div>
</div>
