{% extends 'mail/partials/base.html' %}

{% block title %}Your password has been changed!{% endblock %}

{% block subtitle %}If you did not make this change, don't worry... You can change your password again and ensure your information is safe.{% endblock %}

{% block message %} 
  If you did not make this request and would like to change your password again, click on the button below and we will send you a secret token. This token can be used to create a new password. Remember, we from RedPine will never send you requests asking for your password. If you feel that your account information has been compromised, you can contact us via our Facebook or Twitter.

  <div>
    {% with ""|add:REDPINE_WEBAPP_BASE_URL|add:'/forgot-password' as url %}
    {% include 'mail/partials/action.html' with url=url message="Change your Password" %}
    {% endwith %}
  </div>
{% endblock %}